---

---

<div class="w-full m-10 font-lexend flex justify-around">
    <a href="https://www.linkedin.com/in/miguel-olarte-dev/"
        ><img src="/public/linkedin.png" alt="Linkedin" class="w-1/4" /></a
    >
    <a href="https://github.com/olarte91"
        ><img src="/public/github.png" alt="GitHub" class="w-1/4" /></a
    >
    <a href="https://www.tiktok.com/@tktkr91"
        ><img src="/public/tiktok.png" alt="tiktok" class="w-1/4" /></a
    >
    <a href="https://www.facebook.com/profile.php?id=61572989186098"
        ><img src="/public/facebook.png" alt="Facebook" class="w-1/4" /></a
    >
</div>
