---
import EnhancedContact from "./EnhancedContact.astro";

import linkedin from "../assets/images/linkedin.png";
import github from "../assets/images/github.png";
import tiktok from "../assets/images/tiktok.png";
import facebook from "../assets/images/facebook.png";

const socialMedia = [
    {
        link: "https://www.linkedin.com/in/miguel-olarte-dev/",
        img: linkedin,
        altImg: "Linkedin de Miguel Olarte",
    },
    {
        link: "https://github.com/olarte91",
        img: github,
        altImg: "Linkedin de Miguel Olarte",
    },
    {
        link: "https://www.tiktok.com/@tktkr91",
        img: tiktok,
        altImg: "Tiktok de Miguel Olarte",
    },
    {
        link: "https://www.facebook.com/profile.php?id=61572989186098",
        img: facebook,
        altImg: "Facebook de Miguel Olarte",
    },
];
---

<section
    class="w-full py-20 sm:py-32 flex flex-col justify-center items-center bg-black"
    id="contacto"
>
    <div class="relative inline-block w-full pb-12">
        <span
            class="absolute inset-0 z-0 select-none font-lexend font-extrabold text-7xl sm:text-6xl text-center
               text-mint-600 [-webkit-text-stroke:15px_#059669] opacity-70 blur-[8px] reveal"
        >
            Conectemos
        </span>

        <h2
            class="relative z-10 font-lexend font-extrabold text-7xl text-center sm:text-6xl
             text-white [-webkit-text-stroke:1px_white] reveal"
        >
            Conectemos
        </h2>
    </div>

    <p
        class="font-lexend text-xl text-white text-center mb-12 max-w-2xl px-5 reveal"
    >
        ¿Tienes un proyecto en mente o quieres colaborar? ¡Me encantaría saber
        de ti!
    </p>

    <div class="grid grid-cols-2 sm:grid-cols-4 gap-6 sm:gap-8 px-5 reveal">
        {
            socialMedia.map((social) => (
                <EnhancedContact
                    link={social.link}
                    imageSrc={social.img}
                    altImg={social.altImg}
                />
            ))
        }
    </div>
</section>
