---

---

<nav class="hidden sm:block">
  <ul
    class="flex justify-evenly py-10 text-primary font-lexend font-normal text-2xl bg-white"
  >
    <li class="hover:scale-110 transition transform duration-200">
      <a href="#sobre-mi">Sobre mí</a>
    </li>
    <li class="hover:scale-110 transition transform duration-200">
      <a href="#proyectos">Proyectos</a>
    </li>
    <li class="hover:scale-110 transition transform duration-200">
      <a href="#contacto">Contacto</a>
    </li>
    <li class="hover:scale-110 transition transform duration-200">
      <a href="/documentos/Miguel_Olarte_CV.pdf" download="Miguel_Olarte_CV.pdf">CV</a>
    </li>
  </ul>
</nav>
